body{
    color: aliceblue;
    background-color: #28282D;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:120%;
}


h2{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-size: 90%;
}

p{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-size: 80%;
}

.danger{
    color: #fa9434;
}

button{
    background-color: aliceblue;
    padding: 0px 12px 0px 12px;
    /* paddingは、要素の広さをあらわし、
    上 右 下 左 の順で書く */
    border-radius: 7px;

    border-color: #6e99ef;

    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:80%;
}

button:active{
    background-color:gray;
}

select{
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:80%;
}

.miniButton{
    background-color: #ddffe4;
    padding: 0px 12px 0px 12px;
    border-color: #5dcea7;
}

.miniButton:active{
    background-color: #9db4b2;
}

.blueButton{
    background-color: #ffe1f8;
    border-color: #e892bd;
}

.blueButton:active{
    background-color: #c595af;
}


.yomikomi{
    padding:0 10px 0 0px;
}

.dangerButton{
    background-color: #000000;
    border-color: #e97676;
    border: 0px;
}

.dangerButton:active{
    background-color: #545151;
}

input{
    width: 100px;
    height: 23px;
    border-radius: 7px;
}

select{
    height: 25px;
    border-radius: 7px;
}


table{
    margin-top: 20px;
    border: 1px solid;
    border-collapse: collapse;
    border-color: #ACADB7;
}

th,
td{
    border: 1px solid;
    border-color: #ACADB7;
}